.gameBoard{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 50px;
    height: 40vw;
    max-height: 60vh;
    width: 40vw;
    max-width: 60vh;
}
.boardSpace{
    border: 1px solid black;
    font-size: 6vw;
    text-align: center;
    vertical-align: middle;
    padding-top: 25%;
}
.turnDisplay{
    display: block;
    margin: auto;
    width: 40vw;
    margin-top: 140px;
    text-align: center;
    font-size: 4vw;
}